body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 500px;
}

.icon-container, .share-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
}

.count {
    margin-left: 10px;
    font-size: 18px;
}

.share {
    width: 30px;
    height: 30px;
}

.tree-container {
    position: relative;
    margin-top: 60px; /* Отступ для header */
}

.tree {
    width: 280px; /* Увеличено с 150px до 200px */
    transition: transform 0.2s ease-in-out;
    user-select: none; /* Запрещаем выделение */
}

.squirrel {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90px; /* Увеличено с 50px до 70px */
}

.hunt-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.hunt-button:hover {
    background-color: darkgreen;
}

.timer {
    margin-top: 10px;
    font-size: 18px;
}

.progress-bar {
    width: 80%;
    background-color: #444;
    border-radius: 5px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    visibility: hidden;
}

.progress {
    border: solid 5px;
    width: 0%;
    height: 20px;
    background: url('./images/pixel-progress.png') repeat;
    background-size: cover;
    border-radius: 5px;
    transition: width 0.2s ease;
}

.footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    
}

.footer-item {
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}

.diamond {
    position: absolute;
    width: 40px;
    height: 50px;
    background: url('./images/stick.webp') no-repeat center center;
    background-size: contain;
    animation: fly 1s forwards;
}
@keyframes fly-down {
    from {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    to {
        opacity: 0;
        transform: translateY(200px) rotate(720deg);
    }
}
@keyframes fly-sideways {
    from {
        opacity: 1;
        transform: translateX(0) rotate(0deg);
    }
    to {
        opacity: 0;
        transform: translateX(200px) rotate(720deg);
    }
}
@keyframes break {
    0% {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(-50px, -50px) rotate(-720deg);
    }
}
@keyframes break-opposite {
    0% {
        opacity: 1;
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(50px, 50px) rotate(720deg);
    }
}